services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: zookeeper
    hostname: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    hostname: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

  fl_server:
    build:
      context: .
      dockerfile: docker/server.Dockerfile
    container_name: fl_server
    depends_on:
      - kafka
    environment:
      - KAFKA_BOOTSTRAP=kafka:9092
      - CSV_PATH=/app/data/telco_churn.csv
      - EXPECTED_CLIENTS=2
      - ROUNDS=1

  client_1:
    build:
      context: .
      dockerfile: docker/client.Dockerfile
    container_name: client_1
    depends_on:
      - kafka
      - fl_server
    environment:
      - KAFKA_BOOTSTRAP=kafka:9092
      - CSV_PATH=/app/data/telco_churn.csv
      - CLIENT_ID=client_1
      - ROUNDS=1

  client_2:
    build:
      context: .
      dockerfile: docker/client.Dockerfile
    container_name: client_2
    depends_on:
      - kafka
      - fl_server
    environment:
      - KAFKA_BOOTSTRAP=kafka:9092
      - CSV_PATH=/app/data/telco_churn.csv
      - CLIENT_ID=client_2
      - ROUNDS=1

  streamlit:
    build:
      context: .
      dockerfile: docker/streamlit.Dockerfile
    container_name: streamlit
    depends_on:
      - kafka
      - fl_server
    ports:
      - "8501:8501"
    environment:
      - KAFKA_BOOTSTRAP=kafka:9092
      - CSV_PATH=/app/data/telco_churn.csv
